.dashboardRow {
    display: flex;
    align-items: center;
    justify-items: space-between;
    padding: 0.5rem 0.25rem;

    .price,
    .amount,
    .total {
        padding: 0 0.5rem;
        flex: 1;
        text-align: right;
    }
}

.dashboardWrap {
    display: flex;

    .orderBook {
        flex: 1;
        // display: flex;
        > * {
            // flex: 1;
            border: 1px solid #333;
            padding: 1rem;
        }
    }

    .console {
        padding: 1rem;
        flex: 1;
    }
}

.oppGroup {
    margin-bottom: 1rem;

    .opp {
        padding-left: 2rem;

        .oppBuySell {
            padding-left: 2rem;
        }
    }
}

.green {
    color: green;
}

.red {
    color: red;
}
